body {
    /*background-color: #212529;
    color: white;*/
}

.cierne-pismo {
    color:black;
}

p {
    font-size: 1.2em;
}

.navbar-brand {
    font-weight: bold;
}

.galeria-thumbnail{
    width : 400px;
    height: 100%;
    overflow: auto;
}

/*
.galeria-thumbnail img{
    width: 100%;
    height: auto;
    display: block;
}*/
.galeria-thumbnail img {
    -webkit-filter: brightness(100%);
}

.galeria-thumbnail img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


div.desc {
    padding: 15px;
    text-align: center;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {
    .footer-hide {
        display: none;
    }
}

.menunazov {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.menuitem {
    font-size: 1.5em;
    font-weight: bold;
}

.menupopis {
    font-size: 1.3em;
    margin-bottom: 10px;
}