/* Zdroj: https://css-tricks.com/couple-takes-sticky-footer/ */

html {
    height:100%;
}

body {
    height:100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #999999;
    color: white;
    padding: 0.4em;
    text-align: center;
    margin-top: 10em;
}
/*-----------------------------------*/

.cierne-pismo {
    color:black;
}

p {
    font-size: 1.2em;
}

.navbar-brand {
    font-weight: bold;
}

textarea {
    font-size: .8rem;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

.thumbnail {
    transition: all 0.1s ease;
}

.thumbnail:hover {
    filter: brightness(80%);
}

table, th, td {
    border:1px solid darkgray;
    padding: 5px 20px;
}

th {
    font-weight: bold;
}

thead {
    background-color: #1aa3ff;
    color: white;
}

th:hover {
    background-color: #007acc;
    cursor: pointer;
}

.selected {
    background-color: #007acc;
}

tbody tr:nth-child(even) {
    background-color: #d9d9d9;
}

@media screen and (max-width: 500px) {
    .footer-hide {
        display: none;
    }
}

form {
    padding: 5px;
}

small {
    font-size: 0.8em;
}

.menunazov {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.menuitem {
    font-size: 1.5em;
    font-weight: bold;
}

.menupopis {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.bottom-border {
    border-bottom: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit{
    width: 100%;
    height: 25px;
}
.editMode{
    border: 1px solid black;
}

.delete {
    color:red;
}









/*
.galeria-thumbnail{
    width : 400px;
    height: 100%;
    overflow: auto;
}

.galeria-thumbnail img{
    width: 100%;
    height: auto;
    display: block;
.galeria-thumbnail img {
    -webkit-filter: brightness(100%);
}

.galeria-thumbnail img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

}*/


